@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100;
}
.max-width{
    width: 100%;
    min-height: auto;
}
.bg{
    background: rgb(252, 246, 246) no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
.bg2{
    background: #fff no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.container{
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}
.titulo{
    width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 40px;
    text-shadow: 0 0 10px #fff;
    color: #000000;
}
.line{
    width: 80%;
    height: 2px;
    background: #17203F;
    position: relative;
    top: 40px;
}

.text-titulo{
    position: relative;
    top: -10px;
    z-index: 99;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    font-size: 18px;
    background: #593643;
    color: #fff;
}
.logo{
    background: url('images/images/logo.png') no-repeat;
    background-size: contain;
    width: 130px;
    height: 80px;
    position: relative;
    top: 20px;
    z-index: 9;
}
.menu{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    background: #FFFF;
}
.login{
    background: rgb(252, 246, 246) no-repeat;;
}
.call{
    display: flex;
    align-items: center;
    margin-top: 120px;
}
.left{
    width: 70%;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}

.right{
    width: 50%;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}

.down{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 300px;
}

.box{
    width: 20%;
    min-height: 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2 2%;
    transition: 0.5s ease;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0 2%;
    width: 100%;
    min-height: 800px;
}

img{
    width: 70%;
    object-fit: contain;
}

button{
    padding: 10px 20px;
    background: #502;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: 0.8s ease;
    margin-bottom: 20px;
    margin-top: 20px;
}
.btn-dior a{
    color: #fff;
    font-size: 14px;
    font-weight: 80;
    align-items: center;
    text-decoration: none;
    transition: 0.8s ease;
}

button:hover{
    border: 1px solid #000000;
    background: #593643;
    color: #fff;
    transform: scale(1.00);
}

.text-pq{
    font-size: 20px;
}

.text-md{
    font-size: 42px;
}

.text-gd{
    font-size: 72px;
}

.text-title{
    font-size: 20px;
    font-weight: 600;
}

.color-roxa{
    color: #502;
}

.color-roxa-1{
    color: rgb(128, 24, 66);
}

.color-roxa-2{
    color: rgb(180, 121, 145);
}
#back-to-top{
    position: fixed;
    bottom: 2px;
    right: 10px;
    padding: 5px, 10px;
    background: #593643;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color:#2B2B2B;
    border-radius: 20px;
    border: 1px solid #fff;
}

/* Menu */

.desktop-menu ul{
    display: flex;
}

.desktop-menu ul li{
    padding: 0 25px;
    list-style-type: none;
}

.desktop-menu ul li a{
    color:#593643;
    text-shadow: 0 0 5px #fff;
    font-size: 23px;
    font-weight: 50;
    text-decoration: none;
    transition: 0.8s ease;
}

.desktop-menu ul li a:hover{
    color:#502;
    text-shadow: 0 0 5px #593643;
    font-weight: 200;
    text-decoration: underline;
}

/* Menu */

.mobile-menu{
    width: 95%;
    height: auto;
    position: absolute;
    top: 5px;
    background: #fff;
    display: none;
}
.mobile-menu i{
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 23px;
    color: #502;
    cursor: pointer;
}
.mobile-menu ul{
    display: block;
    text-align: center;
}
.mobile-menu{
    list-style-type: none;
    padding: 10px 0;
}
.mobile-menu ul li a{
    text-decoration: none;
    font-weight: 500;
    color: #000000;
    text-shadow: 0 0 5px #fff;
}
.mobile-menu ul li a:hover{
    color: #fff;
    text-shadow: 0 0 5px #fff;
    font-weight: 500;
    text-decoration: underline;
}


/*Cabeçalho */

header .container{
    flex-direction: column;
    justify-content: flex-start;
}

header .left{
    flex-direction: column;
    align-items: flex-start;
}

header .left h1{
    text-align: start;
    font-weight: 400;
    text-shadow: 0 0 5px #fff;
    padding: 0 40px;
}

header .left p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: start;
    letter-spacing: 2px;
    text-shadow: 0 0 5px #fff;
    margin-top: 60px;
    padding: 0 40px;
}

header button{
    margin-top: 60px;
    margin-left: 40px;
}
header .right .imagem{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: 5s ease;
}

header .right .imagem img{
    width: 100%;
    object-fit: contain;
    margin-bottom: 60px;
}

/* Sessão novidades e marcas */

#about .container{
    flex-direction: column;
    align-items: flex-start;
}

#about .titulo h2{
    font-family: 'Open Sans', sans-serif;
}

#about .box{
    box-shadow: 0 5px 20px #2B2B2B;
    background:transparent;
    margin-bottom: 120px;
}

/* #about .box .text{
    margin-right: 80px;
} */

#about .box .text i{
    position: relative;
    bottom: 35px;
    left: 180px;
    font-size: 20px;
}

#about .box img{
    width: 100%;
}

#about .box h2{
    margin-top: 40px;
    margin-left: 20px;
    text-align:start;
    font-weight: 300;
}

#about .box p, span{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align:start;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    font-style: italic;
}

/* Carrosel da página de produtos */

#service .titulo h2{
    font-family: 'Open Sans', sans-serif;
}

#service .box{
    width: 80%;
    background: #fff;
}

#service .box img{
    width:300px;
    height: 500px;
    object-fit: contain;
}

#service .box h2{
    margin-top: 20px;
    text-align: center;
}

#service .box p{
    margin-top: 20px;
    text-align: center;
}
#service .container input[type=radio]{
    display: none;
}

#service .container .card{
    position: absolute;
    width: 30%;
    top: -50px;
    left: 0;
    right: 0;
    margin:0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 0 10px 0 #848790;
    transition: 0.4s ease;
    cursor: pointer;
}
#service .container .card img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}
#service .container .card button{
    position: fixed;
    margin-right: 50px;
    bottom: 20px;
    z-index: 10;
    text-transform: uppercase;
    cursor: pointer;
}
#service .container .cards{
    position: relative;
    width: 100%;
    height: 100vh;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2{
    transform: translateX(-100%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1{
    transform: translateX(100%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3{
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}

/* página de login */

body{
    margin: 0px;
}
.main-login{
    width: 90vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
.left-login{
    width: 60%;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}
.imagem-login{
    width: 78%;
    object-fit: contain;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}
.aling-login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.right-login{
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.card-login{
    width: 60%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #bf899d;
    border-radius: 1px;
    box-shadow: 0px 10px 40px rgba(85, 0, 34, 0.471);
}
.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.textfield > input{
    width: 100%;
    border: none;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
}
.btn-login{
    margin-left: 38%;
}
.btn-login a{
    color: #fff;
    font-size: 14px;
    font-weight: 80;
    align-items: center;
    text-decoration: none;
    transition: 0.8s ease;
}

/* página de cadastro */

body{
    margin: 0px;
}
.main-cadastro{
    width: 90vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
.left-cadastro{
    width: 60%;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}
.imagem-cadastro{
    width: 100%;
    object-fit: contain;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}
.aling-cadastro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.right-cadastro{
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.card-cadastro{
    width: 60%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #bf899d;
    border-radius: 1px;
    box-shadow: 0px 10px 40px rgba(85, 0, 34, 0.471);
    position: relative;
}
.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.textfield > input{
    width: 100%;
    border: none;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
}
.btn-cadastro {
    color: #fff;
    font-size: 14px;
    font-weight: 80;
    text-decoration: none;
    transition: 0.8s ease;
    margin-top: 8px;
}
#dialog{
    margin-top: 20%;
    margin-left: 42%;
    padding: 20px;
    background-color: #fff;
    border: none;
    box-shadow: 0px 10px 40px rgba(30, 13, 20, 0.659);
}
#dialog p{
    margin-top: 20px;
}
#dialog #btn-fechar{
    margin-left: 50%;

}
.footer span{
    color: #fff;
    text-align-last: center;
    text-shadow: #2B2B2B;
    font-weight: 500;
    font-style: normal;
    margin-left: 0px;
}
.footer .social-field {
    padding: 0.4rem;
    border-radius: 2px;
    font-size: 0.85rem;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
}

.footer .social-field a i {
    margin: 0 0.5rem;
    width: 15px;
}

.footer .social-field a {
    text-decoration: none;
    color: white;
}

.footer .social-field.google {
    background: linear-gradient(to right, #e56c2a, #c64427);
}

.footer .social-field.facebook {
    background: linear-gradient(to right, #12316b, #2a5298);
}



/* pagina de produtos */

.produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: -40px;
    margin-bottom: 60px;
}
.produto{
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}
.produto img{
    width:auto;
    align-items: center;
}

.produto h2{
    font-weight: 800;
    padding: 5px 10px;
    text-align: center;
    font-size: 10px;
}
.produto p{
    font-weight: 500;
    padding: 5px 10px;
    text-align: center;
    font-size: 20px;
}
.produto button.btn-compre{
    margin-top: 20px;
    margin-left: 60px
}



/* rodapé */


footer .container{
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #502;
}

footer .container p{
    font-weight: 400;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

/* Tornando responsivo */

@media screen  and (max-width: 922px){
    .text-pq{
        font-size: 13px;
    }

    .text-md{
        font-size: 28px;
    }

    .text-gd{
        font-size: 54px;
    }
}
@media screen  and (max-width: 740px){

    header .right .imagem{
        width: 100%;
    }

    .desktop-menu ul{
        display: none;
    }

    .text-gd{
        font-size:42px ;
    }

    .text-title{
        font-size: 16px;
    }

    .mobile-menu ul{
        display: block;
    }

    header .right .imagem{
        width: 100%;
    }

    .titulo{
        min-height: 150px;
    }

    .down{
        justify-content: space-between;
        flex-direction: column;
        min-height: 600px;
    }

    .box{
        width:60%;
    }

    #about .box img{
        width: 90%;
        margin-top: 20px;
    }

    #Menu .box h2{
        margin-top: 10px;
     }

    #Menu .box p{
        font-size: 18px;
        margin-top: 5px;
        margin-bottom:0;
        color: #fff;
    }

    .mobile-menu{
        display: block;
    }

    #about .right img{
        margin-top:60px;
    }

    footer .container{
        justify-content: space-evenly;
        flex-direction: column;
        height: 150px;
    }
    footer .container p{
        margin-top: 20px;
    }

}
@media screen  and (max-width: 648px){
    .left{
        width: 100%;
        min-height:auto;
        padding: 0 2%;
    }

    .right{
        width: 100%;
        min-height: auto;
        padding: 0 2%;
        margin-top: -60px;
    }
    .logo{
        width: 110px;
        top: 10px;
        left: 5px;
    }

    img{
        width: 90%;
    }

    .call{
        flex-direction: column;
        justify-content: flex-start;
    }

    header .left{
        margin-top: -100px;
    }

    header .right .imagem{
        width: 60%;
    }
    #Categories .right{
        margin-top: 80px;
    }

    #Categories .right img{
        width: 60%;
    }
    @media screen and (max-width: 428px){

        header .right .imagem{
            width: 80%;
        }
}
}